<header>
  <ul class="navbar">
  <li><a href="/">Home</a></li>
  <li><a href="/barbarian">Barbarian</a></li>
  <li><a href="/rogue">Rogue</a></li>
  <li><a href="/sorcerer">Sorcerer</a></li>
</ul>
</header>
