<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barbarian Primer</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <h1>So you want to play a barbarian</h1>
    <p>You should play a barbarian if: </p>
    <p>You want the biggest Hit die in the game (d12)</p>
  </body>
</html>
