<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Barbarian Primer</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <% include ../partials/header %>
    </nav>
    <article class="barbarian-guide">
      <header>
        <h2>So you want to play a barbarian</h2>
      </header>
      <section>
        <h3>You should play a barbarian if:</h3>
        <ul>
          <li>You want to charge into the battle headfirst and crush some skulls in melee!</li>
          <li>You want to go down one of the following primals paths</li>
            <ul>
              <li>Path of the berserker: For when your rage just isn’t ANGRY enough</li>
              <li>Path of the totem warrior: For when you need just a little bit of spirituality with your unfettered anger and destruction. </li>
            </ul>
          <li>You want to dish out more damage than any other class</li>
        </ul>
      </section>
      <section>
        <h3>Features</h3>
        <ol>
          <li>Rage: For when being a 7’0’’ half naked orc just isn’t effective enough. </li>
          <li>Weapon Proficiencies: You can use all the weapons. Actually all of them. </li>
        </ol>
      </section>
    </article>
  </body>
</html>
