<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Express + EJS</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans" rel="stylesheet">
  </head>
  <body class="homepage">
  <% include ../partials/nav %>
  </body>
</html>
