<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rogue Primer</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <h1>So you want to play a rogue</h1>
    <p>You should play a rogue if: </p>
  </body>
</html>
