<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Rogue Primer</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <article class="rogue-guide">
      <header>
        <h2>So you want to play a rogue</h2>
      </header>
      <section>
        <h3>You should play a rogue if:</h3>
        <ul>
          <li>You want to use stealth and dirty tricks to get the upper hand on friend and foe alike. </li>
          <li>You want to go down one of the following Roguish Archetypes:</li>
            <ul>
              <li>Assassin: When stealing and deception don’t get the job done, an assassin comes in to clean up the scene.</li>
              <li>Arcane Trickster: When you don’t want to just pickpocket someone you should magically pickpocket them instead.</li>
            </ul>
          <li>You want more skills than you’ll know what to do with</li>
        </ul>
      </section>
      <section>
        <h3>Features</h3>
        <ol>
          <li>Expertise: a form of super skill proficiency so even when someone is good at something, you’re still better than them.</li>
          <li>Sneak attack: When you’re buddies are distracting your enemy’s buddies and you want to make it seem like you’re doing all of the hard work.</li>
        </ol>
      </section>
    </article>
    <footer>
      <% include ../partials/nav %>
    </footer>
  </body>
</html>
