<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sorceror Primer</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <h1>So you want to play a sorceror</h1>
    <p>You should play a sorceror if: </p>
  </body>
</html>
