<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sorcerer Primer</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  </head>
  <body>
    <nav>
      <% include ../partials/header %>
    </nav>
    <article class="sorcerer-guide">
      <header>
        <h2>So you want to play a sorcerer</h2>
      </header>
      <section>
        <h3>You should play a sorcerer if:</h3>
        <ul>
          <li>When magic is the bee’s knees but books are soooo last century.</li>
          <li>When Puff the Magic Dragon played way too big of a role in your life than it probably should have.</li>
          <li>When your fireballs just aren’t firebally enough</li>
        </ul>
      </section>
      <section>
        <h3>Features</h3>
        <ol>
          <li>Metamagic: Through bigger fireballs, teleport farther, and magics harder.</li>
          <li>Font of Magic: Best for when you just can’t decide if you want to magic more or magic harder…why not both?!</li>
        </ol>
      </section>
    </article>
  </body>
</html>
